<header class="header">
  <div class="logo">Gestion Stock</div>

  <!-- Bouton hamburger -->
  <div class="burger" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Menu unique -->
  <nav [class.active]="menuActive" class="nav-links">
    <a routerLink="/accueil" (click)="closeMenu()">Accueil</a>
    <a routerLink="/tailles" (click)="closeMenu()">Taille</a>
    <a routerLink="/modeles" (click)="closeMenu()">Modèle</a>
    <a routerLink="/stock" (click)="closeMenu()">Stock</a>
    <a routerLink="/commande" (click)="closeMenu()">Commande</a>
  </nav>
</header>
