
/* ================= Global Styles ================= */
html, body, *, input, button, select, textarea {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 300;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

